@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


.inter-text {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* General Setup */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #0f0524;
    color: #ffffff;
    font-family: 'Inter', sans-serif;
    overflow-x: hidden;
}

/* --- HEADER --- */
header {
    width: 100%;
    /* position: sticky; */
    top: 0;
    background: rgba(15, 5, 36, 0.9);
    backdrop-filter: blur(10px);
    z-index: 1000;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 8%;
}

.logo {
    font-size: 32px;
    font-weight: 700;
}

.logo span {
    
    background: linear-gradient(to right, #fb09b4, #9100f8, #f7e93f);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 35px;
}

.nav-links a {
    text-decoration: none;
    color: #ccc;
    font-size: 15px;
    transition: 0.3s;
}

.nav-links a:hover { color: #fff; }

.btn-subscribe-top {
    background: linear-gradient(to right, #ff4b2b, #ff416c);
    border: none;
    padding: 10px 22px;
    border-radius: 25px;
    color: white;
    font-weight: 600;
    cursor: pointer;
}

.hero-bg {
    width: 100%;
    height: auto;
}
.hero-circle{
    width: 425px;
    height: 425px;
    position: absolute;
    top: 42%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.microphone {
    width: 150px;
    height: auto;
    position: absolute;
    top: 42%;
    left: 51%;
    transform: translate(-50%, -50%);
}
.badge-new {
    position: absolute;
    top: -120px;
    right: -50px;
    background: #00ff88;
    color: #000;
    font-size: 20px;
    padding: 5px 10px;
    border-radius: 12px;
    font-weight: 500;
}


/* About & Stats */
.about {
    padding: 80px 8%;
    text-align: center;
}

.about h2 { font-size: 36px; margin-bottom: 25px; }

.about p {
    color: #b3b3b3;
    max-width: 800px;
    margin: 0 auto 50px;
    line-height: 1.6;
}

.stats-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    border-top: 1px solid #222;
    padding-top: 40px;
}

.stat-item h3 { font-size: 38px; color: #00ffaa; }
.stat-item p { font-size: 12px; color: #777; letter-spacing: 1px; }
